# ignore a single file
#mycode.class

# ignore an entire directory
/ebatevn/.vs/

# ignore a file type
*.ide

# add an exception (using !) to the preceding rule to track a specific file
!package.json
